<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section>
    <!--Start Slider -->
    <div id="carouselExample" class="carousel slide mt-5">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/slide_img/LavivaHotel2.png" class="d-block w-100" alt="Luxury Hotel" >
            </div>
            <div class="carousel-item">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/260827166.jpg?k=c885a27e6bf03c782cefcd674777ee8f2307f4ff1caff7edd9d6ea958f068d72&o=&hp=1" class="d-block w-100" alt="Resort">
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-photo/beautiful-outdoor-view-with-umbrella-chair-around-swimming-pool-luxury-hotel_74190-1052.jpg?t=st=1746722668~exp=1746726268~hmac=013e7f3e41f244419de82414a056e1e6e5b877ce2881ec7576b9da3e440c676d&w=1380" class="d-block w-100" alt="Family Hotel">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--End Slider -->


<!--    Start Title-->
    <div id="home" class="container my-5 pt-5">
        <!-- Header -->
        <div class="text-center mb-5">
            <h1 class="fw-bold text-primary" style="font-family: 'Pacifico', cursive; font-size: 2.8rem; color: #0d6efd;">Laviva</h1>
            <p class="text-muted">Find the best room at the best price</p>
<!--            <a href="#" onclick="viewBookings()" class="btn btn-primary">View My Bookings</a>-->
        </div>
    </div>
    <!--    End Title-->


    <!-- Start Search Box -->
    <div class="container bg-white p-5 search-box">

        <!--  search room-->
        <form class="row g-3" action="/" method="get">
            <input type="hidden" name="submitted" value="true">
            <div class="col-md-3">
                <label  class="form-label">Check-In Date</label>
                <input type="date" class="form-control" name="checkIn" >
            </div>
            <div class="col-md-3">
                <label class="form-label">Check-Out Date</label>
                <input type="date" class="form-control" name="checkOut">
            </div>
            <div class="col-md-3">
                <label class="form-label">Room Type</label>
                <select class="form-select " style="max-width: 250px;" name="roomType">
                    <option>All Room Types</option>
                    <option th:each="r:${roomTypes}"  th:value="${r.name}"
                            th:text="${r.name}"
                            th:selected="${r.name==paramValue}">
                    </option>

                </select>
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Search</button>
            </div>
        </form>


        <!-- Room List-->
        <th:block th:if="${paramValue!=null}">

            <th:block th:if="${roomSize > 0 }">
        <div class="row mt-4">
            <p class="text-black fw-bold text-center fs-5 ">Search Result</p>
            <div class="d-flex flex-column gap-4 ">
                <!-- Phòng 1 -->
                <div class="room-card d-flex align-items-center bg-light p-3" th:each="r:${room}">
                    <!--                    <img src="img/room_img/room1.jpg" alt="Room Image" class="room-image me-3">-->
                    <img alt="" th:src="@{'/img/room_img/'+${r.image1}}" class="room-image me-3">
                    <div class="flex-grow-1">
                        <div class="room-title">[[${r.title}]]</div>
                        <div class="fw-semibold">[[${r.roomType}]]</div>

                        <div class="text-warning fw-semibold"> <span class="text-decoration-line-through text-secondary">$[[${r.price}]] VND</span>
                            <span>[[${r.discountPrice}]]VND</span>  / Night </div>

                        <div class="text-muted text-truncate" style="max-width: 450px;">[[${r.description}]]</div>
                    </div>
                    <a th:href="@{'/view-room/'+${r.id}}" class="btn btn-custom ms-3">View/Book Now</a>
                </div>

            </div>

        <!--Pagination   -->
            <div class=" offset-md-5 ps-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"  th:href="@{'/?pageNo='+${pageNo - 1}}"
                               th:classappend="${isFirst}?'disabled': ''"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="i:${#numbers.sequence(1,totalPages)} "
                            class="page-item"  th:classappend="${pageNo+1==i}?'active':''">

                            <a class="page-link" th:href="@{'/?pageNo='+${i - 1}}">[[${i}]]</a></li>


                        <li class="page-item">
                            <a class="page-link" th:href="@{'/?pageNo='+${pageNo + 1}}"
                               th:classappend="${isLast}?'disabled': ''" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <a  href="/" type="reset" class="btn btn-secondary col-md-12">Clear search</a>

        </div>



            </th:block>
            <th:block th:unless="${roomSize > 0 }">
                <p class="mt-5 text-muted text-center  ">No rooms available for the selected dates and room type.</p>
            </th:block>


            <!-- Hien thi thong bao -->
            <th:block th:if="${session.sucMsg}">
                <p class="text-success fw-bold">[[${session.sucMsg}]]</p>
                <!-- thuc hien de xoa thong bao -->
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"> </th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger text-center fw-bold">[[${session.errorMsg}]]</p>
                <!-- thuc hien de xoa thong bao -->
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"> </th:block>
            </th:block>

        </th:block>




    </div>
    <!-- End Search Box -->


    <!--Start Featured Hotel Module -->
    <div class="container-fluid  p-3 mt-5 text-center">
        <div class="card card-sh p-3">
            <div class="row justify-content-center">
                <p class="text-center fs-4 mb-4">Featured Hotels</p>
                <div class="col-md-3 mt-3" th:each="r:${rooms}">
                    <div class="card">
                        <div class="card-body" >
                            <a th:href="@{'/view-room/'+${r.id}}">
                                <img  th:src="@{'/img/room_img/'+${r.image1}}" width="100%"  height="200px" class="mb-3">
                            </a>

                            <h5 class="card-title">[[${r.title}]]</h5>
                            <p class="card-text">[[${r.roomType}]]</p>
                            <p class="card-text text-warning">⭐⭐⭐⭐⭐ (4.8)</p>
                            <p class="card-text fw-bold">Price: [[${r.price}]]VND /night</p>
                            <a th:href="@{'/user/loadBookingRoom/'+${r.id}}" class="btn btn-primary ms-3">Book Now</a>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-3 mt-3">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                        <img src="img/room_img/room1.jpg"  width="100%"  height="200px">-->
<!--                            <h5 class="card-title">Beach Resort</h5>-->
<!--                            <p class="card-text">456 Beach Road, City</p>-->
<!--                            <p class="card-text text-warning">⭐⭐⭐⭐ (4.5)</p>-->
<!--                            <p class="card-text fw-bold">Price: $180/night</p>-->
<!--                            <button class="btn btn-primary">Book Now</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 mt-3">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                        <img src="img/room_img/roomlux1.jpg"  width="100%"  height="200px">-->
<!--                            <h5 class="card-title">Family Hotel</h5>-->
<!--                            <p class="card-text">789 Park Ave, City</p>-->
<!--                            <p class="card-text text-warning">⭐⭐⭐ (4.0)</p>-->
<!--                            <p class="card-text fw-bold">Price: $120/night</p>-->
<!--                            <button class="btn btn-primary">Book Now</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 mt-3">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                        <img src="img/room_img/roomlux2.jpg"  width="100%"  height="200px">-->
<!--                            <h5 class="card-title">Beach Resort</h5>-->
<!--                            <p class="card-text">456 Beach Road, City</p>-->
<!--                            <p class="card-text text-warning">⭐⭐⭐⭐ (4.5)</p>-->
<!--                            <p class="card-text fw-bold">Price: $180/night</p>-->
<!--                            <button class="btn btn-primary">Book Now</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
            <a  href="/hotel" type="" class="text-center mt-3 text-dark ">View All Room</a>
        </div>
    </div>
    <!--End Latest Featured Hotel Module-->






    <!-- Start Featured Destinations -->
    <div class="container-fluid bg-light p-3 mt-5">
        <h3 class="fw-bold mb-4">Featured tourist destination</h3>
        <div class="row g-3">
            <div class="col-md-6">
                <img src="https://i1-dulich.vnecdn.net/2022/06/03/cau-vang-jpeg-9366-1654247848.jpg?w=0&h=0&q=100&dpr=1&fit=crop&s=lsuryIIgmI4xtUp5BVdw3g" class="img-fluid rounded-4 w-100 h-100 object-fit-cover" alt="HCM City">
            </div>
            <div class="col-md-6">
                <div class="row g-3">
                    <div class="col-md-6">
                        <img src="https://ik.imagekit.io/tvlk/apr-asset/Ixf4aptF5N2Qdfmh4fGGYhTN274kJXuNMkUAzpL5HuD9jzSxIGG5kZNhhHY-p7nw/hotel/asset/20021017-20469114d62fda947ef93df5cb272198.jpeg?_src=imagekit&tr=dpr-2,c-at_max,f-jpg,h-360,pr-true,q-80,w-640 " class="img-fluid rounded-4 w-100 h-100 object-fit-cover" alt="Hanoi">
                    </div>
                    <div class="col-md-6">
                        <img src="https://i2.ex-cdn.com/crystalbay.com/files/content/2024/07/31/cau-rong-da-nang-6-1519.jpg" class="img-fluid rounded-4 w-100 h-100 object-fit-cover" alt="Golden Bridge">
                    </div>
                    <div class="col-md-6">
                        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/6a/b0/bc/located-on-the-29th-floor.jpg?w=700&h=-1&s=1" class="img-fluid rounded-4 w-100 h-100 object-fit-cover" alt="Da Lat">
                    </div>
                    <div class="col-md-6">
                        <img src="https://tourismdanang.com/wp-content/uploads/2020/04/62553457_441495056671311_2106223215742287872_o.jpg" class="img-fluid rounded-4 w-100 h-100 object-fit-cover" alt="Phu Quoc">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- End Featured Destinations -->



    <!-- Start services  -->
    <div class="container py-5 mt-5">
        <div class="row align-items-center g-5">
            <!-- Image -->
            <div class="col-md-6">
                <div class="rounded overflow-hidden shadow">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/560052722.jpg?k=be1c24ddea61bd7c07ca84961933f68f2c5baf97edc910e609611740f1120d60&o=" alt="Dịch vụ đa dạng" class="img-fluid hover-shadow" style="transition: 0.3s ease-in-out; border-radius: 12px;">
                </div>
            </div>

            <!-- Content-->
            <div class="col-md-6">
                <h2 class="display-5 fw-bold mb-3">
                    <span class="text-muted">Diversified</span><br />
                    <span class="text-dark">Services</span>
                </h2>
                <p class="text-muted fs-5 mb-4">
                    Providing many convenient services to bring great and interesting experiences to customers. To bring satisfaction to each customer, Laviva provides airport shuttle service, buffet with a variety of European and Asian dishes, Spa, and many other services.
                </p>
                <a href="#" class="btn btn-dark btn-lg rounded-pill px-4">Read more</a>
            </div>
        </div>
    </div>
    <!-- End services  -->





    <!-- Start Our Hotel Precious Moments -->
    <div class="container my-5">
        <h2 class="text-center fw-bold mb-4">Our Hotel Precious Moments</h2>
        <div id="multiImageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-between gap-3">
                        <img src="https://img.freepik.com/free-photo/bartender-making-delicious-cocktail_23-2149093590.jpg?t=st=1746721993~exp=1746725593~hmac=43638f6a0cc72bc6861953fcf205563988038dd79d92d076bddf3d488cfc1076&w=740" class="d-block w-25 rounded">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/229308210.jpg?k=4ca3b10a14087d27baa8e217218b32579af68a85176804bd2d1defd2ac610aad&o=&hp=1" class="d-block w-25 rounded">
                        <img src="https://img.freepik.com/free-photo/woman-eating-smoked-salmon-salad-with-arugula-dill-restaurant_140725-10815.jpg?t=st=1746722154~exp=1746725754~hmac=2b8ac0a9a3cf82490ef98c1ab48006d394e5a14bbc8a6606ef866918983c10d3&w=740" class="d-block w-25  rounded">
                        <img src="https://img.freepik.com/free-photo/dinner-table-with-foods-soft-drinks-restaurant_114579-3319.jpg?t=st=1746721878~exp=1746725478~hmac=b23026e248082c8ff276674cbdcd5bf2eefab030af3bed0106c668d307b86b23&w=740  " class="d-block w-25 rounded">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-between gap-3">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/404140329.jpg?k=d8b1dbe3664ba0ec5f2c8a4940ed4be72aab79f423ae071de2bf4a263f30e668&o=&hp=1" class="d-block w-25 rounded">
                        <img src="https://cdn.vietreader.com/uploads/posts/2021-10/top-7-vung-tau-resorts-with-a-super-beautiful-and-luxurious-sea-view-swimming-pool-for-virtual-living-4.jpg" class="d-block w-25 rounded">
                        <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/578752474.jpg?k=4abbabd9102c4d9f7de5c3dd8bdcef76eeae702e108231cfcfeb8e16cad55ac5&o=&hp=1" class="d-block w-25 rounded">
                        <img src="https://cdn.vietreader.com/uploads/posts/2021-12/beautiful-with-infinity-pools-in-da-nang-that-are-both-luxurious-and-unique-2.jpg" class="d-block w-25 rounded">
                    </div>
                </div>
            </div>
            <!-- Nút tròn -->
            <button class="carousel-control-prev carousel-control-custom custom-left" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="prev">
                <span class="text-white">&#10094;</span>
            </button>
            <button class="carousel-control-next carousel-control-custom custom-right" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="next">
                <span class="text-white">&#10095;</span>
            </button>
        </div>
    </div>

    <!-- End Our Hotel Precious Moments -->

</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>